body_ {
    background-color: #f0f8ff;
    font-family: Arial, sans-serif;
    text-align: center;
    margin-top: 100px;
    }
    
    h1 {
        color: #007acc;
        }

    h2{
            color: #00cc5f;
    }

    h3{
        color: #a8d841;
    }

    h4{
        color: #9c41d8;
        font-size: 2em;
    }

    p {
    font-size: 1.2em;
    }

    @font-face {
        font-family: 'MyCustomFont';
        src: url('../fonts/custom-font.woff2')
        format('woff2');
        }
        body {
        font-family: 'MyCustomFont', Arial, sans-serif;
        background-color: #f0f8ff;
        color: #333;
        text-align: center;
        margin-top: 60px;
        }
        img {
        margin-bottom: 20px;
        }
        a {
        display: block;
        margin-top: 20px;
        color: #007acc;
        text-decoration: none;
        }
        a:hover {
        text-decoration: underline;
        }