body {
font-family: sans-serif;
background-color: #f5f5f5;
color: #333;
text-align: center;
padding: 20px;
}
img {
border-radius: 10px;
margin-top: 10px;
}
h1 {
color: #336699;
}
ul {
list-style-type: none;
padding: 0;
}
li {
margin: 5px 0;
}

nav {
margin-bottom: 20px;
}
nav a {
margin: 0 10px;
text-decoration: none;
color: #336699;
}
nav a:hover {